.floating-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 65px; /* Minskad från 65px */
  height: 65px; /* Minskad från 65px */
  border-radius: 50%;
  font-size: 25px; /* Minskad från 35px */
  background-color: #c5eafc;
  color: #333;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 3px 3px 8px #bebebe, -3px -3px 8px #ffffff; /* Mindre skuggor */
  transition: all 0.3s ease;
  z-index: 10000;
  outline: none;
}

.List-rubrik {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floating-btn:hover {
  color: white;
  background-color: #a2b9fc;
  box-shadow: none;
}

@media (min-width: 768px) {
  .floating-btn {
    right: 30px;
    width: 70px;
    height: 70px;
    font-size: 45px;
  }
}

@media (min-width: 1024px) {
  .floating-btn {
    right: 40px;
    width: 80px;
    height: 80px;
    font-size: 50px;
  }
}
