.add-todo-btn {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 35px;
  background-color: #c5eafc;
  color: #333;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  transition: all 0.3s ease;
  z-index: 1000;
  outline: none;
}

.List-rubrik {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-todo-btn:hover {
  color: white;
  background-color: #a2b9fc;
  box-shadow: none;
}

@media (min-width: 768px) {
  .add-todo-btn {
    bottom: 80px;
    right: 30px;
    width: 70px;
    height: 70px;
    font-size: 45px;
  }
}

@media (min-width: 1024px) {
  .add-todo-btn {
    bottom: 90px;
    right: 40px;
    width: 80px;
    height: 80px;
    font-size: 50px;
  }
}
